.button-pseudo-element {
  position: relative;
}

.button-pseudo-element::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #873DE6;
  clip-path: inset(0 0 0 calc(var(--slider-position) - 24px));
}
